.info-details{
    background-image: linear-gradient(90deg, rgb(248, 219, 219) 0%, 
    rgb(211, 241, 211) 50%, rgba(133, 133, 243, 0.409) 100%)
}

.info-details:hover{
    background-image: linear-gradient(90deg, rgb(239, 128, 128) 0%, 
    rgb(106, 236, 106) 50%, rgba(51, 51, 242, 0.409) 100%)
}


.part-1>p{
    text-align: justify;

}