.service{
    border: 1px solid rgba(220, 220, 220, 0.618);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.service:hover{
    background-color: bisque;
}
.img-db{
    border: 1px solid rgba(232, 225, 225, 0.209);
    border-radius: 100%;
}

.img-db:hover{
    background-color: rgba(200, 162, 235, 0.73);
}
.name{
    color: cadetblue;
}
.name:hover{
    color: blueviolet;
}
