.signup-from {
    height: fit-content;
    border: 1px solid gainsboro;
    background: linear-gradient(217deg, rgba(216, 14, 14, 0.333), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgb(5, 231, 178), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(52, 158, 234, 0.311), rgba(0, 0, 255, 0) 70.71%);
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
